---
import type { MarkdownInstance } from "astro";
import type { PostFrontmatter } from "../interfaces/post-frontmatter";

interface Props {
  post: MarkdownInstance<PostFrontmatter>;
}

const { post } = Astro.props;
const { title, summary, date, author, tags = [], imageUrl } = post.frontmatter;
---

<article
  class="rounded-md p-4 hover:bg-gray-100/10 transition-colors focus-within:bg-gray-100/10 focus-within:border-none"
>
  <a href={post.url} class="block space-y-2 focus:outline-none">
    <h4 class="text-2xl font-semibold text-primary">{title}</h4>
    <p>
      {summary.length > 100 ? summary.slice(0, 100) + "..." : summary}
    </p>
    <p class="mt-2 text-sm text-foreground/70">
      {date} &mdash; {author}
    </p>
    {
      imageUrl && (
        <img
          src={imageUrl}
          alt={`${title}`}
          class="mt-4 w-full max-h-96 aspect-video rounded-md"
        />
      )
    }
    <div class="mt-2 flex gap-2">
      {
        tags.map((tag) => (
          <span class="rounded-full px-2 py-1 text-xs">{tag}</span>
        ))
      }
    </div>
  </a>
</article>
